body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue{
    background-color: rgb(98, 98, 255);
    padding: 20px;
}

.yo{
    background-color: rgb(251, 222, 91);
    padding: 20px;
    margin: 10px;
}

.red{
    padding-right: 80px;
}

.green{
    padding-bottom: 80px;
}

.pink{
    border-radius: 50px;
}

.flex{
    display: flex;
}
